/*
 * SPDX-FileCopyrightText: 2022 Deminder <tremminder@gmail.com>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.number-label {
  min-width: 33px;
  font-family: 'Droid Sans Mono';
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

.menu-number-label {
  min-width: 24px;
  font-family: 'Droid Sans Mono';
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
